#modal .btn:hover, .btn-floating:hover {
    opacity: 0.8;
}

table i {
    margin-right: 10px;
}

table i:hover {
    cursor: pointer;
}

table i.fa-edit {
    color: #00796b;
}

.fa-trash {
    color: red;
}

.fa-trash:hover {
    cursor: pointer;
}

#act-on-multiple-select {
    margin: 20px 0;
}

#delete-selected {
    display: none;
}

/* :root {
    --color: #3f51b5;
}

.input-field label {
    color: var(--color);
}


.input-field input[type=text]:focus + label {
    color: var(--color);
}


.input-field input[type=text]:focus {
    border-bottom: 1px solid var(--color);
    box-shadow: 0 1px 0 0 var(--color);
}


.input-field input[type=text].valid {
    border-bottom: 1px solid var(--color);
    box-shadow: 0 1px 0 0 var(--color);
}
.input-field input[type=text]:active {
    border-bottom: 1px solid var(--color);
    box-shadow: 0 1px 0 0 var(--color);
}


.input-field .prefix.active {
    color: var(--color);
} */