#modal .btn:hover, .btn-floating:hover {
    opacity: 0.8;
}

table i {
    margin-right: 10px;
}

table i:hover {
    cursor: pointer;
}

table i.fa-edit {
    color: #00796b;
}

.fa-trash {
    color: red;
}

.fa-trash:hover {
    cursor: pointer;
}

#act-on-multiple-select {
    margin: 20px 0;
}

#delete-selected {
    display: inline-block;
    width: 100px;
}


.hidden{
    display: none;
}

